<%- include ('partials/header.ejs'); %>
<body>
    <%- include ('partials/navbar.ejs'); %>
    
    <div class="container mt-5">
        <hr>
        <h1>Perguntas</h1>
        <hr>
        <a href="/ask" class="btn btn-dark">Mande sua pergunta</a>
        <hr>
        <% questions.forEach(question => {%>

            <div class="card mt-3">
                <div class="card-body">
                    <h3><%= question.title %></h3>
                </div>
                <div class="card-footer">
                    <a href="/question/<%= question.id %>" class="btn btn-dark">Responder</a>
                </div>
            </div>
        <%})%>
    </div>

</body>
<%- include ('partials/footer.ejs'); %>